/* STYLE.CSS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* This is main CSS file that contains custom styling used in this template */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: REST HOSTEL */
/* Version: 1.0 */
/* Author: Sylwia Gawronska */
/* Website: http://www.hostelrest.pl/ */
/* Copyright: (C) 2017 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/
/* 01 - PRELOADER */
/* 02 - GALLERY */
/* 03 - FONTS & TYPOGRAPHY */
/* 04 - PAGES */
/* 05 - SPACING CLASSES */
/* 06 - COMMON ELEMENTS */
/* 07 - FOOTER */
/* 8 - BLOG */
/* 9 - NAVIGATION */
/* 10 - SHORTCODES */
/* 10.01 - SHORTCODES - BUTTOONS */
/* 10.02 - SHORTCODES - SERVICE BOXES */
/* 10.03 - SHORTCODES - LISTS */
/* 10.04 - SHORTCODES - FORMS */
/* 10.05 - SHORTCODES - FACEBOOK FEED */
/*headline-color*/
@headline-color: #000000;

/*headlines*/
@h1-font-size: 36px;
@h1-font-weight: 300;
@h1-font-family: 'Playfair Display', sans-serif;
@h1-font-color: #000000;

@h2-font-size: 32px;
@h2-font-weight: 300;
@h2-font-family: 'Playfair Display', sans-serif;
@h2-font-color: #000000;

@h3-font-size: 28px;
@h3-font-weight: 300;
@h3-font-family: 'Playfair Display', sans-serif;
@h3-font-color: #000000;

@h4-font-size: 24px;
@h4-font-weight: 300;
@h4-font-family: 'Playfair Display', sans-serif;
@h4-font-color: #000000;

@h5-font-size: 20px;
@h5-font-weight: 300;
@h5-font-family: 'Playfair Display', sans-serif;
@h5-font-color: #000000;

@h6-font-size: 18px;
@h6-font-weight: 300;
@h6-font-family: 'Playfair Display', sans-serif;
@h6-font-color: #000000;


/*body background color*/
@background-color : #ffffff;


/*body-font-color*/
@body-font-color: #000;

/*menu-font-color*/
@menu-font-color: #333;


/* light border*/
@light-border: #b9b9b9;

/* dark border*/
@dark-border: #333;

/*hamburger menu color*/
@hamburger-menu-color: #cbcbcb;

/* navbar background*/
@navbar-background: rgba(255,255,255,0.9);


/*dark section background color*/
@dark-section-bg-color: #1e1f20;

/*@light grey bg color*/
@light-grey-bg-color: #f4f4f4;

/*lighter grey bg color*/
@lighter-grey-bg-color: #f8f8f8;

/*white bg color*/
@white-bg-color: #fff;

/*medium grey color*/
@medium-grey-color: #cbcbcb;

/*white text*/
@white-text: #ffffff;

/*light text*/
@light-text: #cbcbcb;

/*dark text*/
@dark-text: #1e1f20;

/*accent color*/
@accent-color: #d1a57b;

/*secondary accent color*/
@secondary-accent-color: #cbcbcb;


/*error-page-404*/
@error-page-404: #f7f7f7;

/*body font family*/
@body-font-family: 'Lato', sans-serif;

/*headline font family*/
@headline-font-family:'Playfair Display', sans-serif;


/*menu font family*/
@menu-font-family: 'Playfair Display', sans-serif;

/* language-settings-color */
@language-settings-color: #333;


/* social-icons-color */
@social-icons-color: #333;

/*menu font size */
@menu-font-size: 20px;
@menu-font-weight: normal;


/*stroke-text*/
@stroke-text: 0.2px rgba(0, 0, 0, 0.5);

/*body font size*/
@body-font-size: 17px;

@body-font-weight: 300;

@body-line-height: 30px;


/*preloader*/
@preloader-logo: '../../images/logo.png';
@preloader-bg: #d1a57b;
@preloader-font: #fff;


/*upper footer links color*/
@footer-icon-color: #d1a57b;

/*lower footer background color*/
@footer-bg-color: #3a3733;
@lower-footer-bg-color: #1e1c19;

@footer-text-color: #8d8d8d;

@map-height: 400px;


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - PRELOADER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";

#jpreOverlay, #qLoverlay {
  background-color: @preloader-bg;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
#jpreSlide {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  text-align: center;
  width: 100%;
}
#jpreLoader, #qLloader {
  width: 448px;
  height: 300px;
  position: fixed;
  top: 30%;
  left: 60%;
  margin-left: 0px;
  margin-top: -400px;
}
#jpreBar, #qLbar {
  width: 448px;
  height: 300px;
  position: absolute;
  bottom: 0;
  background: url(@preloader-logo) 100px 100% no-repeat;
}
#jprePercentage, #qLpercentage {
  color: @preloader-font;
  text-align: center;
  position: absolute;
  height: 30px;
  width: 100px;
  margin-top: 240px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - GALLERY */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";

.vc_images_carousel {

  img {
    box-shadow: 4px 3px 13px 1px rgba(0, 0, 0, 0.18);
  }

  &.vc_carousel_horizontal {
    .vc_item {
      margin: 10px 0;
    }

      .vc_left--horizontal{
        left: -40px !important;
      }
      .vc_right--horizontal{
        right: -40px !important;
      }

  }

  &.vc_carousel_vertical {
    margin-bottom: 20px;
    .vc_inner {
      padding: 10px;
    }
    .vc_carousel-control {
      bottom: 0;
      top: auto;
      margin-bottom: -40px;
    }

  }
}


.ajaxGallery {
  margin-top: 10px;
  img {
    box-shadow: 4px 5px 13px 1px rgba(0, 0, 0, 0.18);
  }
}

@media (max-width: 767px) {
  .ajaxGallery {
    padding: 20px;
  }
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 03 - FONTS & TYPOGRAPHY */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";



h1, h2, h3, h4, h5, h6 {
  font-family: @headline-font-family;
  line-height: 1.5;
  margin:0;
}


h1{
  font-weight: @h1-font-weight;
  font-size: @h1-font-size;
  color: @h1-font-color;
  font-family: @h1-font-family;
}

h2{
  font-weight: @h2-font-weight;
  font-size: @h2-font-size;
  color: @h2-font-color;
  font-family: @h2-font-family;
}

h3{
  font-weight: @h3-font-weight;
  font-size: @h3-font-size;
  color: @h3-font-color;
  font-family: @h3-font-family;
}

h4 {
  font-weight: @h4-font-weight;
  font-size: @h4-font-size;
  color: @h4-font-color;
  font-family: @h4-font-family;
  letter-spacing: 0.05em;
}

h5 {
  font-weight: @h5-font-weight;
  font-size: @h5-font-size;
  color: @h5-font-color;
  font-family: @h5-font-family;
}

h6 {
  font-weight: @h6-font-weight;
  font-size: @h6-font-size;
  color: @h6-font-color;
  font-family: @h6-font-family;
}

body, p{
  font-weight: @body-font-weight;
  color: @body-font-color;
  line-height: @body-line-height;
  font-size: @body-font-size;
  font-family: @body-font-family;
}

div{
  font-weight: @body-font-weight;
  color: @body-font-color;
  line-height: @body-line-height;
  font-size: @body-font-size;
}

p{
  line-height: @body-line-height;
  padding-bottom:20px;
  font-size: @body-font-size;
}

b, strong, .strong {
  font-weight: 900 !important;
}

a{
  color: @accent-color;
  &:hover,&:visited,&:focus{
    color: @accent-color;
    text-decoration: underline overline;
  }
}

.thin-font{
  font-weight: 100;
}

.medium-thin-font{
  font-weight: 300;
}

small{
  font-size:10px;
}

.top-heading {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1 !important;
  }
}

.heading {
  display: block;
  padding-bottom: 60px;
  position:relative;

  &:before{
    display:block;
    position: absolute;
    bottom: 30px;
    width: 70px;
    height: 2px;
    content: '';
    background: @accent-color;
  }

  &:after{
    display:block;
    position: absolute;
    bottom: 29px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    content: '';
    background: @accent-color;
  }

  &.align-left{
    &:before{
      left: 0;

    }
    &:after{
      left: 0;
    }
  }

  &.align-right{
    &:before{
      right: 0;

    }
    &:after{
      right: 70px;
    }
  }

  &.align-center{
    &:before{
      left: ~"calc(50% - 35px)";

    }
    &:after{
      left: ~"calc(50% - 35px)";
    }
  }

}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 04 - PAGES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";

.page-header {
  margin: 0;
  border: none;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;

  .header-overlay {
    position: absolute;
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    div {
      height: 100% !important;
    }
    .header-overlay__bg {
      background-color: @accent-color;
    }
  }

  &.error-page{
    .error-shadow{
      display: block;
      z-index: -1;
      position: absolute;
      left: 0;
      text-align: center;
      width: 100%;
      top: -50px;
      h1{
        display: block;
        color: @error-page-404;
        font-size: 600px;
      }
    }
    .return-home{
      a{
        color: @headline-color;
        font-size: 36px;
      }
    }
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 05 - SPACING CLASSES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*
* Spacing classes - TOP MARGIN
*/
@import "margin-top.less";

/*
* Spacing classes - BOTTOM MARGIN
*/
@import "margin-bottom.less";

/*
* Spacing classes - LEFT MARGIN
*/
@import "margin-left.less";

/*
* Spacing classes - RIGHT MARGIN
*/
@import "margin-right.less";

/*
* Spacing classes - TOP PADDING
*/
@import "padding-top.less";

/*
* Spacing classes - BOTTOM PADDING
*/
@import "padding-bottom.less";

/*
* Spacing classes - LEFT PADDING
*/
@import "padding-left.less";

/*
* Spacing classes - RIGHT PADDING
*/
@import "padding-right.less";

/*
* Spacing classes - PADDING
*/
@import "padding.less";
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 06 - COMMON ELEMENTS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";

body {
  overflow-x: hidden;
  background-color: @background-color;
}

.googlemap {
  width: 100%;
  height: @map-height;
}

// slider
.white-link {
  color: #fff !important;
}

.slider-button {
  color: #fff !important;
  &:active, &:visited {
    color: #fff !important;
  }
  &:hover {
    color: @accent-color !important;
  }
}

.rev-btn{
  &:hover {
    .slider-button {
      color: @accent-color !important;
    }
  }
}

.preloader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: @preloader-bg;
  z-index: 999999;
}

.vc_message_box {
  p {
    padding-bottom: 0;
  }
}

.fb_stars {
  display: inline-block;
  padding-left: 20px;
  div {
    line-height: 1 !important;
  }
}

.cdsROW {
  width: auto !important;
}
.googleReviews {
  .rate {
    font-size: 12px;
  }

  .star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding: 0;
    text-shadow: 0 1px 0 #a2a2a2;
    &-top {
      color: #e7711b;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    &-bottom {
      color: #d5d5d5;
      padding: 0;
      display: block;
      z-index: 0;
    }
  }
}

.float-left{
  float: left;
}
// overwrite flexslider styles
.flexslider {
  border: none !important;
  box-shadow: 4px 5px 13px 1px rgba(0, 0, 0, 0.18) !important;
  .flex-direction-nav {
    a {
      color: #fff !important;
      &:before {
        font-size: 20px;
      }
    }
  }
  &:hover{
    .flex-prev {
      left: 0;
      top: 20px;
      height: 100%;
      padding-top: 30%;
      padding-left: 10px;
    }
    .flex-next {
      right: 0;
      top: 20px;
      height: 100%;
      padding-top: 30%;
      padding-right: 10px;
    }
  }

  .flex-control-paging li a {
    background: rgba(0, 0, 0, .2);
    box-shadow: none;
    &:hover {
      background: @accent-color;
    }
    &.flex-active {
      background: @accent-color;
    }
  }
}

// overwrite composer icon styles
.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
  height: 2em !important;
  width: 2em !important;
}

// overwrite composer image grid style
.wpb_image_grid .wpb_image_grid_ul img {
  padding: 5px;
  box-shadow: 4px 5px 13px 1px rgba(0, 0, 0, 0.18) !important;
}

// overwrite composer row style
.vc_row-has-fill {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

// overwrite language plugin style
.qtranxs_widget {
  display: inline-block;
  select {
    background: transparent;
    border: none;
    outline: none;
    option {
      background-color: @accent-color;
    }
  }
}

section {
  position: relative;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

.easein {
  transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
}

.easeout {
  transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}

.ease {
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.header {
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .header {
    display: none !important;
  }
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

@media (max-width: 991px) {
  .sm-center {
    text-align: center;
  }
}

.spacer {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}

.spacer-inner {
  padding: 15px;
}

.vc_row {
  position: relative;
}

.wp-caption, .wp-caption-text, .screen-reader-text, .gallery-caption, .bypostauthor {

}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

.aligncenter {
  text-align: left;
}

/* Home Portrait Tablet Fix */
@media only screen and (max-width: 1000px) and (min-width: 769px) {
  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-12[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-12[class*="vc_col-md-"] {
    width: 100% !important;
  }

  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-11[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-11[class*="vc_col-md-"] {
    width: 92% !important;
  }

  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-10[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-10[class*="vc_col-md-"] {
    width: 83% !important;
  }

  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-9[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-9[class*="vc_col-md-"] {
    width: 75% !important;
  }

  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-8[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-8[class*="vc_col-md-"] {
    width: 67% !important;
  }

  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-7[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-7[class*="vc_col-md-"] {
    width: 58% !important;
  }

  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-6[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-6[class*="vc_col-md-"] {
    width: 50% !important;
  }

  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-5[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-5[class*="vc_col-md-"] {
    width: 42% !important;
  }

  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-4[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-4[class*="vc_col-md-"] {
    width: 33% !important;
  }

  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-3[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-5[class*="vc_col-md-"] {
    width: 25% !important;
  }

  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-2[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-2[class*="vc_col-md-"] {
    width: 12% !important;
  }

  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-1[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-1[class*="vc_col-md-"] {
    width: 8% !important;
  }
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 07 - FOOTER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";


.footer, footer {
  div {
    font-size: 14px;
    color: @footer-text-color;
  }
  a, i {
    &:extend(.ease);
    color: @footer-icon-color;
    &:hover {
      color: @footer-text-color;
    }
  }
}
.footer {
  padding: 40px 0;
  background: @footer-bg-color;
  img {
    max-width: 100px;
  }
}

.footer__widget {
  padding: 40px 0;
}


.footer__icon {
  font-size: 14px;
  display: inline-table;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  line-height: 1;
  margin: 10px;
  i {
    display: table-cell;
    vertical-align: middle;
  }
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 8 - BLOG */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";



.post-info{
  i{
    color: @headline-color;
    font-size: 14px;
    padding-right: 12px;
    &.fa-calendar{
      padding-left: 12px;
    }
  }
  span{
    font-size: 12px;
    padding-right: 12px;
  }
}

.post-date{
  i{
    color: @accent-color;
    font-size: 40px;
    padding-bottom: 20px;
  }
}

.post{
  border-bottom: 1px solid @light-border;
}

.post-tags, .post-tags a{
  color: @headline-color;
  font-weight: bold;
  i {
    padding-right: 15px;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 9 - NAVIGATION */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";


#wpadminbar{
  top: auto !important;
  bottom:0;
}
.topBar {
  position: absolute;
  z-index: 1030;
  width: 100%;
  left: 0;
  right: 0;
  background: @navbar-background;
  height: 120px;
  padding-top: 20px;
  top: 0;

  .topBar__lang {
    select {
      -moz-appearance: none;
      color: @language-settings-color;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
    }
    i {
      color: @language-settings-color;
      font-size: 18px;
      padding-right: 6px;
    }
  }

  .topBar__social {
    a {
      &:extend(.ease);
      padding: 0 8px;
      font-size: 18px;
      color: @social-icons-color;
      &:hover {
        opacity: 0.6;
      }
    }

  }

  .topBar__icon {
    font-weight: 500;
    font-size: 18px;
    color: @menu-font-color;
    display: inline-block;
    padding-right: 20px;
    letter-spacing: 0.075em;
    i {
      padding-right: 6px;
      color: @accent-color;

    }
  }
}

.nav .open>a {
  background: none !important;
}

.navbar {
  &:extend(.ease);
  padding: 0;
  background: @navbar-background;
  box-shadow: 6px 5px 10px 0 rgba(0, 0, 0, 0.11);
  border: none;
  margin: 0;
  position: absolute;
  top: 60px;

  .navbar-toggle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1090;
    .icon-bar {
      background: @hamburger-menu-color
    }
  }
  .navbar-nav{
    display: inline-block;
    float: none;
    li{
      overflow: hidden;
      background: none !important;
      a{
        &:extend(.ease);
        text-transform: uppercase;
        font-family: @menu-font-family;
        letter-spacing: 0.075em;
        font-size: @menu-font-size;
        font-weight: @menu-font-weight;
        color: @menu-font-color;
        padding: 20px 70px 20px 0;
        &:hover, &:active, &:focus{
          background: none !important;
        }
        &:hover {
          color: @accent-color;
        }
      }
      .dropdown-menu{
        &:extend(.ease);
        z-index: 999;
        position: absolute;
        width: 350px;
        display: block;
        border: none;
        text-align: center;
        max-height: 0;
        left: 0;
        right: auto;
        border-radius: 0;
        opacity: 0;
        background: @navbar-background;
        box-shadow: 6px 5px 10px 0 rgba(0,0,0,.11);
        padding: 20px 0 20px 0;
        li {
          list-style: none;
          padding: 20px;
          a, a:hover, a:active, a:visited {
            white-space: unset;
            font-size: 18px;
            padding: 0 !important;
            text-decoration: none;
          }
        }
      }
      &:last-child {
        a{
          padding: 20px 0 20px 0;
        }
      }
    }

  }
}

.toggleDropdown{
  display: none;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .medium-align-right{
      text-align: right !important;
    }
}

// medium screen navbar view
@media (max-width: 1199px) {
  .topBar__icon--hide {
    display: none !important;
  }

}

// mobile navbar view
@media (max-width: 991px) {
  .topBar {
    background: @navbar-background;
    height: 60px;
    padding-top: 10px;
  }
  .navbar {
    padding-bottom: 30px;
    position: relative;

    .navbar-nav {
      max-width: 90%;
      margin: 0 auto;
      .dropdown-menu {
        margin: 0 auto;
        max-width: 80%;
        padding: 0 !important;
        display: none;
        position: relative !important;
        box-shadow: none;
        width: auto !important;
        clear: both;
        float: none;
        li {
          padding: 5px;
        }
      }
      position: relative;
      > li {
        overflow: visible;
        float: none !important;
        > a {
          padding: 20px;
        }
        &.open {
          .dropdown-menu {
            display: block;
            max-height: 600px;
            box-shadow: none;
            opacity: 1 !important;
            padding: 20px 0 !important;
          }
        }
      }
    }
  }
  .toggleDropdown {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: -25px;
    cursor: pointer;
  }
}

// desktop navbar view
@media (min-width: 992px) {
  .navbar{
    position: fixed;
    li {
      &:hover {
        overflow: visible;
        .dropdown-menu {
          max-height: 500px;
          opacity: 1;
        }
      }
    }
  }
}

.mobile-sticker{
  position: relative;
  margin: 30px 0;
}

.mobile-sticker__overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 33px;
  .big {
    font-size: 20px;
    font-weight: 900;
  }
  span {
    line-height: 1.2;
  }
}

.mobile-section {
  .mobile-info {
    i {
      color: @accent-color;
      padding-right: 15px;
    }
    padding-top: 20px;
  }
  text-align: center;
  span {
    display: block;
  }
}

.mobile-logo {
  img {
    max-width: 200px;
  }
}

@media (max-width: 767px) {
  .mobile-logo {
    img {
      max-width: 120px;
      padding-bottom: 30px;
    }
  }
  .navbar .navbar-nav > li > a {
    padding: 7px 20px !important;
  }
  .toggleDropdown {
    margin-top: 0;
  }
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 10 - SHORTCODES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 10.01 - SHORTCODES - BUTTOONS */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";


.btn {
  &:extend(.ease);
  display: inline-block;
  font-weight: 300;
  position: relative;
  line-height: 1;
  color: @accent-color;
  border: 1px solid @light-border;
  background: transparent;
  font-family: @headline-font-family;
  border-radius: 0;
  font-size: 14px;

  &:active, &.active{
    box-shadow: none;
  }
  &.btn-lg {
    padding: 20px 40px;
  }

  &.btn-md, &.btn-sm, &.btn-xs {
    padding: 10px 30px;
  }
}


.btn--accent {
  background: @accent-color;
  color: #fff;
  border: 1px solid @accent-color;
  &:visited{
    color: #fff;
  }
  &:hover {
    background: transparent;
    color: @accent-color;
  }
}

.btn--transparent {
  color: @light-border;
  &:visited{
    color: @light-border;
  }
  &:hover {
    border: 1px solid transparent;
    color: @light-border;
  }

}

.btn--accent-border {
  border: 1px solid @accent-color;
  &:visited{
    color: @light-border;
  }
  &:hover {
    border: 1px solid transparent;
    color: @light-border;
  }
}

.btn--accent-label {
  color: @accent-color;
  &:visited{
    color: @accent-color;
  }
  &:hover{
    border: 1px solid transparent;
    color: @light-border;
  }
}

/*---------------------------------------------------------------*/
/* 10.02 - SHORTCODES - SERVICE BOXES */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";


.service{

  h6 {
    font-size: 16px;
  }

  .service_icon {
    &:extend(.ease);
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: @body-font-color;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    border: 1px solid @body-font-color
  }
  &:hover{
    .service_icon {
      border: 1px solid transparent;
    }
  }

  &.service--accent{
    .service_icon {
      color: @white-text;
      background: @accent-color;
      border: 1px solid @accent-color
    }
    &:hover{
      .service_icon {
        color: @accent-color;
        background: transparent;
      }
    }
    h6 {
      color: @accent-color;
    }
  }

}
/*---------------------------------------------------------------*/
/* 10.03 - SHORTCODES - LISTS */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";

.item-list{
  padding: 0;
  li {
    display: block;
    padding: 5px 5px 5px 50px;
    position: relative;
  }
  li:before {
    color: @dark-text;
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    margin-left: -32px;
    width: 32px;
    content: '\f192';
  }
}
/*---------------------------------------------------------------*/
/* 10.04 - SHORTCODES - FORMS */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";

.wpcf7{
  .row{
    padding-bottom: 20px;
  }
  p{
    padding-bottom: 10px;
  }
  label, input, span, textarea{
    width: 100%;
  }
  input, textarea{
    outline: none;
    &:focus{
      outline: none;
    }
  }
  input {
    height: 50px;
  }
  textarea{
    height: 180px;
  }
  input, textarea{
    padding: 15px;
    font-size: 12px;
    line-height: 10px;
    background-color: transparent;
    border: 1px solid @light-border;
    color: @body-font-color;
    box-shadow: none;
    border-radius: 0;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .wpcf7-submit{
    background: transparent;
    color: @accent-color;
    border: 1px solid @light-border;
    padding: 10px 30px;
    font-family: @headline-font-family;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font-size: 14px;
    font-weight: 300;
    width: auto;
  }
}
/*---------------------------------------------------------------*/
/* 10.05 - SHORTCODES - FACEBOOK FEED */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";

.cff-author-img{
  img {
    outline: thick solid #fff;
  }
}

.cff-author-text{
  padding-left: 20px !important;
  .cff-page-name{
    font-family: @headline-font-family !important;
    font-weight: bold !important;
    color: @accent-color !important;
    font-size: 14px !important;
  }
  .cff-date{
    font-size: 14px !important;
  }
}

.cff-post-links {
  padding: 20px 0 0 0 !important;
  a {
    font-family: @headline-font-family !important;
    font-size: 14px !important;
    text-transform: uppercase;
    letter-spacing: 0.005em;
  }
}
