/*headline-color*/
@headline-color: #000000;

/*headlines*/
@h1-font-size: 36px;
@h1-font-weight: 300;
@h1-font-family: 'Playfair Display', sans-serif;
@h1-font-color: #000000;

@h2-font-size: 32px;
@h2-font-weight: 300;
@h2-font-family: 'Playfair Display', sans-serif;
@h2-font-color: #000000;

@h3-font-size: 28px;
@h3-font-weight: 300;
@h3-font-family: 'Playfair Display', sans-serif;
@h3-font-color: #000000;

@h4-font-size: 24px;
@h4-font-weight: 300;
@h4-font-family: 'Playfair Display', sans-serif;
@h4-font-color: #000000;

@h5-font-size: 20px;
@h5-font-weight: 300;
@h5-font-family: 'Playfair Display', sans-serif;
@h5-font-color: #000000;

@h6-font-size: 18px;
@h6-font-weight: 300;
@h6-font-family: 'Playfair Display', sans-serif;
@h6-font-color: #000000;


/*body background color*/
@background-color : #ffffff;


/*body-font-color*/
@body-font-color: #000;

/*menu-font-color*/
@menu-font-color: #333;


/* light border*/
@light-border: #b9b9b9;

/* dark border*/
@dark-border: #333;

/*hamburger menu color*/
@hamburger-menu-color: #cbcbcb;

/* navbar background*/
@navbar-background: rgba(255,255,255,0.9);


/*dark section background color*/
@dark-section-bg-color: #1e1f20;

/*@light grey bg color*/
@light-grey-bg-color: #f4f4f4;

/*lighter grey bg color*/
@lighter-grey-bg-color: #f8f8f8;

/*white bg color*/
@white-bg-color: #fff;

/*medium grey color*/
@medium-grey-color: #cbcbcb;

/*white text*/
@white-text: #ffffff;

/*light text*/
@light-text: #cbcbcb;

/*dark text*/
@dark-text: #1e1f20;

/*accent color*/
@accent-color: #d1a57b;

/*secondary accent color*/
@secondary-accent-color: #cbcbcb;


/*error-page-404*/
@error-page-404: #f7f7f7;

/*body font family*/
@body-font-family: 'Lato', sans-serif;

/*headline font family*/
@headline-font-family:'Playfair Display', sans-serif;


/*menu font family*/
@menu-font-family: 'Playfair Display', sans-serif;

/* language-settings-color */
@language-settings-color: #333;


/* social-icons-color */
@social-icons-color: #333;

/*menu font size */
@menu-font-size: 20px;
@menu-font-weight: normal;


/*stroke-text*/
@stroke-text: 0.2px rgba(0, 0, 0, 0.5);

/*body font size*/
@body-font-size: 17px;

@body-font-weight: 300;

@body-line-height: 30px;


/*preloader*/
@preloader-logo: '../../images/logo.png';
@preloader-bg: #d1a57b;
@preloader-font: #fff;


/*upper footer links color*/
@footer-icon-color: #d1a57b;

/*lower footer background color*/
@footer-bg-color: #3a3733;
@lower-footer-bg-color: #1e1c19;

@footer-text-color: #8d8d8d;

@map-height: 400px;

