extend ' .ease' has no matches
.btn {
  display: inline-block;
  font-weight: 300;
  position: relative;
  line-height: 1;
  color: #d1a57b;
  border: 1px solid #b9b9b9;
  background: transparent;
  font-family: 'Playfair Display', sans-serif;
  border-radius: 0;
  font-size: 14px;
}
.btn:active,
.btn.active {
  box-shadow: none;
}
.btn.btn-lg {
  padding: 20px 40px;
}
.btn.btn-md,
.btn.btn-sm,
.btn.btn-xs {
  padding: 10px 30px;
}
.btn--accent {
  background: #d1a57b;
  color: #fff;
  border: 1px solid #d1a57b;
}
.btn--accent:visited {
  color: #fff;
}
.btn--accent:hover {
  background: transparent;
  color: #d1a57b;
}
.btn--transparent {
  color: #b9b9b9;
}
.btn--transparent:visited {
  color: #b9b9b9;
}
.btn--transparent:hover {
  border: 1px solid transparent;
  color: #b9b9b9;
}
.btn--accent-border {
  border: 1px solid #d1a57b;
}
.btn--accent-border:visited {
  color: #b9b9b9;
}
.btn--accent-border:hover {
  border: 1px solid transparent;
  color: #b9b9b9;
}
.btn--accent-label {
  color: #d1a57b;
}
.btn--accent-label:visited {
  color: #d1a57b;
}
.btn--accent-label:hover {
  border: 1px solid transparent;
  color: #b9b9b9;
}
