@import (reference) "../../variables/variables.less";


.btn {
  &:extend(.ease);
  display: inline-block;
  font-weight: 300;
  position: relative;
  line-height: 1;
  color: @accent-color;
  border: 1px solid @light-border;
  background: transparent;
  font-family: @headline-font-family;
  border-radius: 0;
  font-size: 14px;

  &:active, &.active{
    box-shadow: none;
  }
  &.btn-lg {
    padding: 20px 40px;
  }

  &.btn-md, &.btn-sm, &.btn-xs {
    padding: 10px 30px;
  }
}


.btn--accent {
  background: @accent-color;
  color: #fff;
  border: 1px solid @accent-color;
  &:visited{
    color: #fff;
  }
  &:hover {
    background: transparent;
    color: @accent-color;
  }
}

.btn--transparent {
  color: @light-border;
  &:visited{
    color: @light-border;
  }
  &:hover {
    border: 1px solid transparent;
    color: @light-border;
  }

}

.btn--accent-border {
  border: 1px solid @accent-color;
  &:visited{
    color: @light-border;
  }
  &:hover {
    border: 1px solid transparent;
    color: @light-border;
  }
}

.btn--accent-label {
  color: @accent-color;
  &:visited{
    color: @accent-color;
  }
  &:hover{
    border: 1px solid transparent;
    color: @light-border;
  }
}
