@import (reference) "../../variables/variables.less";

.cff-author-img{
  img {
    outline: thick solid #fff;
  }
}

.cff-author-text{
  padding-left: 20px !important;
  .cff-page-name{
    font-family: @headline-font-family !important;
    font-weight: bold !important;
    color: @accent-color !important;
    font-size: 14px !important;
  }
  .cff-date{
    font-size: 14px !important;
  }
}

.cff-post-links {
  padding: 20px 0 0 0 !important;
  a {
    font-family: @headline-font-family !important;
    font-size: 14px !important;
    text-transform: uppercase;
    letter-spacing: 0.005em;
  }
}