.cff-author-img img {
  outline: thick solid #fff;
}
.cff-author-text {
  padding-left: 20px !important;
}
.cff-author-text .cff-page-name {
  font-family: 'Playfair Display', sans-serif !important;
  font-weight: bold !important;
  color: #d1a57b !important;
  font-size: 14px !important;
}
.cff-author-text .cff-date {
  font-size: 14px !important;
}
.cff-post-links {
  padding: 20px 0 0 0 !important;
}
.cff-post-links a {
  font-family: 'Playfair Display', sans-serif !important;
  font-size: 14px !important;
  text-transform: uppercase;
  letter-spacing: 0.005em;
}
