.wpcf7 .row {
  padding-bottom: 20px;
}
.wpcf7 p {
  padding-bottom: 10px;
}
.wpcf7 label,
.wpcf7 input,
.wpcf7 span,
.wpcf7 textarea {
  width: 100%;
}
.wpcf7 input,
.wpcf7 textarea {
  outline: none;
}
.wpcf7 input:focus,
.wpcf7 textarea:focus {
  outline: none;
}
.wpcf7 input {
  height: 50px;
}
.wpcf7 textarea {
  height: 180px;
}
.wpcf7 input,
.wpcf7 textarea {
  padding: 15px;
  font-size: 12px;
  line-height: 10px;
  background-color: transparent;
  border: 1px solid #b9b9b9;
  color: #000;
  box-shadow: none;
  border-radius: 0;
  font-weight: normal;
  margin-bottom: 5px;
}
.wpcf7 .wpcf7-submit {
  background: transparent;
  color: #d1a57b;
  border: 1px solid #b9b9b9;
  padding: 10px 30px;
  font-family: 'Playfair Display', sans-serif;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  font-size: 14px;
  font-weight: 300;
  width: auto;
}
