@import (reference) "../../variables/variables.less";

.wpcf7{
  .row{
    padding-bottom: 20px;
  }
  p{
    padding-bottom: 10px;
  }
  label, input, span, textarea{
    width: 100%;
  }
  input, textarea{
    outline: none;
    &:focus{
      outline: none;
    }
  }
  input {
    height: 50px;
  }
  textarea{
    height: 180px;
  }
  input, textarea{
    padding: 15px;
    font-size: 12px;
    line-height: 10px;
    background-color: transparent;
    border: 1px solid @light-border;
    color: @body-font-color;
    box-shadow: none;
    border-radius: 0;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .wpcf7-submit{
    background: transparent;
    color: @accent-color;
    border: 1px solid @light-border;
    padding: 10px 30px;
    font-family: @headline-font-family;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font-size: 14px;
    font-weight: 300;
    width: auto;
  }
}