.item-list {
  padding: 0;
}
.item-list li {
  display: block;
  padding: 5px 5px 5px 50px;
  position: relative;
}
.item-list li:before {
  color: #1e1f20;
  font-family: FontAwesome, sans-serif;
  display: inline-block;
  margin-left: -32px;
  width: 32px;
  content: '\f192';
}
