@import (reference) "../../variables/variables.less";

.item-list{
  padding: 0;
  li {
    display: block;
    padding: 5px 5px 5px 50px;
    position: relative;
  }
  li:before {
    color: @dark-text;
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    margin-left: -32px;
    width: 32px;
    content: '\f192';
  }
}