@import (reference) "../../variables/variables.less";


.service{

  h6 {
    font-size: 16px;
  }

  .service_icon {
    &:extend(.ease);
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: @body-font-color;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    border: 1px solid @body-font-color
  }
  &:hover{
    .service_icon {
      border: 1px solid transparent;
    }
  }

  &.service--accent{
    .service_icon {
      color: @white-text;
      background: @accent-color;
      border: 1px solid @accent-color
    }
    &:hover{
      .service_icon {
        color: @accent-color;
        background: transparent;
      }
    }
    h6 {
      color: @accent-color;
    }
  }

}