extend ' .ease' has no matches
.service h6 {
  font-size: 16px;
}
.service .service_icon {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #000;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  border: 1px solid #000;
}
.service:hover .service_icon {
  border: 1px solid transparent;
}
.service.service--accent .service_icon {
  color: #ffffff;
  background: #d1a57b;
  border: 1px solid #d1a57b;
}
.service.service--accent:hover .service_icon {
  color: #d1a57b;
  background: transparent;
}
.service.service--accent h6 {
  color: #d1a57b;
}
