@import (reference) "../variables/variables.less";



.post-info{
  i{
    color: @headline-color;
    font-size: 14px;
    padding-right: 12px;
    &.fa-calendar{
      padding-left: 12px;
    }
  }
  span{
    font-size: 12px;
    padding-right: 12px;
  }
}

.post-date{
  i{
    color: @accent-color;
    font-size: 40px;
    padding-bottom: 20px;
  }
}

.post{
  border-bottom: 1px solid @light-border;
}

.post-tags, .post-tags a{
  color: @headline-color;
  font-weight: bold;
  i {
    padding-right: 15px;
  }
}
