.post-info i {
  color: #000000;
  font-size: 14px;
  padding-right: 12px;
}
.post-info i.fa-calendar {
  padding-left: 12px;
}
.post-info span {
  font-size: 12px;
  padding-right: 12px;
}
.post-date i {
  color: #d1a57b;
  font-size: 40px;
  padding-bottom: 20px;
}
.post {
  border-bottom: 1px solid #b9b9b9;
}
.post-tags,
.post-tags a {
  color: #000000;
  font-weight: bold;
}
.post-tags i,
.post-tags a i {
  padding-right: 15px;
}
