body {
  overflow-x: hidden;
  background-color: #ffffff;
}
.googlemap {
  width: 100%;
  height: 400px;
}
.white-link {
  color: #fff !important;
}
.slider-button {
  color: #fff !important;
}
.slider-button:active,
.slider-button:visited {
  color: #fff !important;
}
.slider-button:hover {
  color: #d1a57b !important;
}
.rev-btn:hover .slider-button {
  color: #d1a57b !important;
}
.preloader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #d1a57b;
  z-index: 999999;
}
.vc_message_box p {
  padding-bottom: 0;
}
.fb_stars {
  display: inline-block;
  padding-left: 20px;
}
.fb_stars div {
  line-height: 1 !important;
}
.cdsROW {
  width: auto !important;
}
.googleReviews .rate {
  font-size: 12px;
}
.googleReviews .star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  padding: 0;
  text-shadow: 0 1px 0 #a2a2a2;
}
.googleReviews .star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.googleReviews .star-ratings-css-bottom {
  color: #d5d5d5;
  padding: 0;
  display: block;
  z-index: 0;
}
.float-left {
  float: left;
}
.flexslider {
  border: none !important;
  box-shadow: 4px 5px 13px 1px rgba(0, 0, 0, 0.18) !important;
}
.flexslider .flex-direction-nav a {
  color: #fff !important;
}
.flexslider .flex-direction-nav a:before {
  font-size: 20px;
}
.flexslider:hover .flex-prev {
  left: 0;
  top: 20px;
  height: 100%;
  padding-top: 30%;
  padding-left: 10px;
}
.flexslider:hover .flex-next {
  right: 0;
  top: 20px;
  height: 100%;
  padding-top: 30%;
  padding-right: 10px;
}
.flexslider .flex-control-paging li a {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: none;
}
.flexslider .flex-control-paging li a:hover {
  background: #d1a57b;
}
.flexslider .flex-control-paging li a.flex-active {
  background: #d1a57b;
}
.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
  height: 2em !important;
  width: 2em !important;
}
.wpb_image_grid .wpb_image_grid_ul img {
  padding: 5px;
  box-shadow: 4px 5px 13px 1px rgba(0, 0, 0, 0.18) !important;
}
.vc_row-has-fill {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}
.qtranxs_widget {
  display: inline-block;
}
.qtranxs_widget select {
  background: transparent;
  border: none;
  outline: none;
}
.qtranxs_widget select option {
  background-color: #d1a57b;
}
section {
  position: relative;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
img {
  max-width: 100%;
  height: auto;
}
.easein {
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}
.easeout {
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.ease {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.header {
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .header {
    display: none !important;
  }
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
@media (max-width: 991px) {
  .sm-center {
    text-align: center;
  }
}
.spacer {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}
.spacer-inner {
  padding: 15px;
}
.vc_row {
  position: relative;
}
.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}
.aligncenter {
  text-align: left;
}
/* Home Portrait Tablet Fix */
@media only screen and (max-width: 1000px) and (min-width: 769px) {
  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-12[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-12[class*="vc_col-md-"] {
    width: 100% !important;
  }
  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-11[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-11[class*="vc_col-md-"] {
    width: 92% !important;
  }
  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-10[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-10[class*="vc_col-md-"] {
    width: 83% !important;
  }
  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-9[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-9[class*="vc_col-md-"] {
    width: 75% !important;
  }
  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-8[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-8[class*="vc_col-md-"] {
    width: 67% !important;
  }
  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-7[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-7[class*="vc_col-md-"] {
    width: 58% !important;
  }
  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-6[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-6[class*="vc_col-md-"] {
    width: 50% !important;
  }
  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-5[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-5[class*="vc_col-md-"] {
    width: 42% !important;
  }
  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-4[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-4[class*="vc_col-md-"] {
    width: 33% !important;
  }
  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-3[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-5[class*="vc_col-md-"] {
    width: 25% !important;
  }
  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-2[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-2[class*="vc_col-md-"] {
    width: 12% !important;
  }
  body .home-tablet-portrait-fix .vc_row-fluid .vc_col-md-1[class*="vc_col-md-"],
  body .home-tablet-portrait-fix.vc_row-fluid .vc_col-md-1[class*="vc_col-md-"] {
    width: 8% !important;
  }
}
