h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', sans-serif;
  line-height: 1.5;
  margin: 0;
}
h1 {
  font-weight: 300;
  font-size: 36px;
  color: #000000;
  font-family: 'Playfair Display', sans-serif;
}
h2 {
  font-weight: 300;
  font-size: 32px;
  color: #000000;
  font-family: 'Playfair Display', sans-serif;
}
h3 {
  font-weight: 300;
  font-size: 28px;
  color: #000000;
  font-family: 'Playfair Display', sans-serif;
}
h4 {
  font-weight: 300;
  font-size: 24px;
  color: #000000;
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: 0.05em;
}
h5 {
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  font-family: 'Playfair Display', sans-serif;
}
h6 {
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  font-family: 'Playfair Display', sans-serif;
}
body,
p {
  font-weight: 300;
  color: #000;
  line-height: 30px;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
}
div {
  font-weight: 300;
  color: #000;
  line-height: 30px;
  font-size: 17px;
}
p {
  line-height: 30px;
  padding-bottom: 20px;
  font-size: 17px;
}
b,
strong,
.strong {
  font-weight: 900 !important;
}
a {
  color: #d1a57b;
}
a:hover,
a:visited,
a:focus {
  color: #d1a57b;
  text-decoration: underline overline;
}
.thin-font {
  font-weight: 100;
}
.medium-thin-font {
  font-weight: 300;
}
small {
  font-size: 10px;
}
.top-heading h1,
.top-heading h2,
.top-heading h3,
.top-heading h4,
.top-heading h5,
.top-heading h6 {
  line-height: 1 !important;
}
.heading {
  display: block;
  padding-bottom: 60px;
  position: relative;
}
.heading:before {
  display: block;
  position: absolute;
  bottom: 30px;
  width: 70px;
  height: 2px;
  content: '';
  background: #d1a57b;
}
.heading:after {
  display: block;
  position: absolute;
  bottom: 29px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  content: '';
  background: #d1a57b;
}
.heading.align-left:before {
  left: 0;
}
.heading.align-left:after {
  left: 0;
}
.heading.align-right:before {
  right: 0;
}
.heading.align-right:after {
  right: 70px;
}
.heading.align-center:before {
  left: calc(50% - 35px);
}
.heading.align-center:after {
  left: calc(50% - 35px);
}
