@import (reference) "../variables/variables.less";



h1, h2, h3, h4, h5, h6 {
  font-family: @headline-font-family;
  line-height: 1.5;
  margin:0;
}


h1{
  font-weight: @h1-font-weight;
  font-size: @h1-font-size;
  color: @h1-font-color;
  font-family: @h1-font-family;
}

h2{
  font-weight: @h2-font-weight;
  font-size: @h2-font-size;
  color: @h2-font-color;
  font-family: @h2-font-family;
}

h3{
  font-weight: @h3-font-weight;
  font-size: @h3-font-size;
  color: @h3-font-color;
  font-family: @h3-font-family;
}

h4 {
  font-weight: @h4-font-weight;
  font-size: @h4-font-size;
  color: @h4-font-color;
  font-family: @h4-font-family;
  letter-spacing: 0.05em;
}

h5 {
  font-weight: @h5-font-weight;
  font-size: @h5-font-size;
  color: @h5-font-color;
  font-family: @h5-font-family;
}

h6 {
  font-weight: @h6-font-weight;
  font-size: @h6-font-size;
  color: @h6-font-color;
  font-family: @h6-font-family;
}

body, p{
  font-weight: @body-font-weight;
  color: @body-font-color;
  line-height: @body-line-height;
  font-size: @body-font-size;
  font-family: @body-font-family;
}

div{
  font-weight: @body-font-weight;
  color: @body-font-color;
  line-height: @body-line-height;
  font-size: @body-font-size;
}

p{
  line-height: @body-line-height;
  padding-bottom:20px;
  font-size: @body-font-size;
}

b, strong, .strong {
  font-weight: 900 !important;
}

a{
  color: @accent-color;
  &:hover,&:visited,&:focus{
    color: @accent-color;
    text-decoration: underline overline;
  }
}

.thin-font{
  font-weight: 100;
}

.medium-thin-font{
  font-weight: 300;
}

small{
  font-size:10px;
}

.top-heading {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1 !important;
  }
}

.heading {
  display: block;
  padding-bottom: 60px;
  position:relative;

  &:before{
    display:block;
    position: absolute;
    bottom: 30px;
    width: 70px;
    height: 2px;
    content: '';
    background: @accent-color;
  }

  &:after{
    display:block;
    position: absolute;
    bottom: 29px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    content: '';
    background: @accent-color;
  }

  &.align-left{
    &:before{
      left: 0;

    }
    &:after{
      left: 0;
    }
  }

  &.align-right{
    &:before{
      right: 0;

    }
    &:after{
      right: 70px;
    }
  }

  &.align-center{
    &:before{
      left: ~"calc(50% - 35px)";

    }
    &:after{
      left: ~"calc(50% - 35px)";
    }
  }

}