extend ' .ease' has no matches
.footer div,
footer div {
  font-size: 14px;
  color: #8d8d8d;
}
.footer a,
footer a,
.footer i,
footer i {
  color: #d1a57b;
}
.footer a:hover,
footer a:hover,
.footer i:hover,
footer i:hover {
  color: #8d8d8d;
}
.footer {
  padding: 40px 0;
  background: #3a3733;
}
.footer img {
  max-width: 100px;
}
.footer__widget {
  padding: 40px 0;
}
.footer__icon {
  font-size: 14px;
  display: inline-table;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  line-height: 1;
  margin: 10px;
}
.footer__icon i {
  display: table-cell;
  vertical-align: middle;
}
