@import (reference) "../variables/variables.less";


.footer, footer {
  div {
    font-size: 14px;
    color: @footer-text-color;
  }
  a, i {
    &:extend(.ease);
    color: @footer-icon-color;
    &:hover {
      color: @footer-text-color;
    }
  }
}
.footer {
  padding: 40px 0;
  background: @footer-bg-color;
  img {
    max-width: 100px;
  }
}

.footer__widget {
  padding: 40px 0;
}


.footer__icon {
  font-size: 14px;
  display: inline-table;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  line-height: 1;
  margin: 10px;
  i {
    display: table-cell;
    vertical-align: middle;
  }
}