.vc_images_carousel img {
  box-shadow: 4px 3px 13px 1px rgba(0, 0, 0, 0.18);
}
.vc_images_carousel.vc_carousel_horizontal .vc_item {
  margin: 10px 0;
}
.vc_images_carousel.vc_carousel_horizontal .vc_left--horizontal {
  left: -40px !important;
}
.vc_images_carousel.vc_carousel_horizontal .vc_right--horizontal {
  right: -40px !important;
}
.vc_images_carousel.vc_carousel_vertical {
  margin-bottom: 20px;
}
.vc_images_carousel.vc_carousel_vertical .vc_inner {
  padding: 10px;
}
.vc_images_carousel.vc_carousel_vertical .vc_carousel-control {
  bottom: 0;
  top: auto;
  margin-bottom: -40px;
}
.ajaxGallery {
  margin-top: 10px;
}
.ajaxGallery img {
  box-shadow: 4px 5px 13px 1px rgba(0, 0, 0, 0.18);
}
@media (max-width: 767px) {
  .ajaxGallery {
    padding: 20px;
  }
}
