@import (reference) "../variables/variables.less";


#wpadminbar{
  top: auto !important;
  bottom:0;
}
.topBar {
  position: absolute;
  z-index: 1030;
  width: 100%;
  left: 0;
  right: 0;
  background: @navbar-background;
  height: 120px;
  padding-top: 20px;
  top: 0;

  .topBar__lang {
    select {
      -moz-appearance: none;
      color: @language-settings-color;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
    }
    i {
      color: @language-settings-color;
      font-size: 18px;
      padding-right: 6px;
    }
  }

  .topBar__social {
    a {
      &:extend(.ease);
      padding: 0 8px;
      font-size: 18px;
      color: @social-icons-color;
      &:hover {
        opacity: 0.6;
      }
    }

  }

  .topBar__icon {
    font-weight: 500;
    font-size: 18px;
    color: @menu-font-color;
    display: inline-block;
    padding-right: 20px;
    letter-spacing: 0.075em;
    i {
      padding-right: 6px;
      color: @accent-color;

    }
  }
}

.nav .open>a {
  background: none !important;
}

.navbar {
  &:extend(.ease);
  padding: 0;
  background: @navbar-background;
  box-shadow: 6px 5px 10px 0 rgba(0, 0, 0, 0.11);
  border: none;
  margin: 0;
  position: absolute;
  top: 60px;

  .navbar-toggle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1090;
    .icon-bar {
      background: @hamburger-menu-color
    }
  }
  .navbar-nav{
    display: inline-block;
    float: none;
    li{
      overflow: hidden;
      background: none !important;
      a{
        &:extend(.ease);
        text-transform: uppercase;
        font-family: @menu-font-family;
        letter-spacing: 0.075em;
        font-size: @menu-font-size;
        font-weight: @menu-font-weight;
        color: @menu-font-color;
        padding: 20px 70px 20px 0;
        &:hover, &:active, &:focus{
          background: none !important;
        }
        &:hover {
          color: @accent-color;
        }
      }
      .dropdown-menu{
        &:extend(.ease);
        z-index: 999;
        position: absolute;
        width: 350px;
        display: block;
        border: none;
        text-align: center;
        max-height: 0;
        left: 0;
        right: auto;
        border-radius: 0;
        opacity: 0;
        background: @navbar-background;
        box-shadow: 6px 5px 10px 0 rgba(0,0,0,.11);
        padding: 20px 0 20px 0;
        li {
          list-style: none;
          padding: 20px;
          a, a:hover, a:active, a:visited {
            white-space: unset;
            font-size: 18px;
            padding: 0 !important;
            text-decoration: none;
          }
        }
      }
      &:last-child {
        a{
          padding: 20px 0 20px 0;
        }
      }
    }

  }
}

.toggleDropdown{
  display: none;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .medium-align-right{
      text-align: right !important;
    }
}

// medium screen navbar view
@media (max-width: 1199px) {
  .topBar__icon--hide {
    display: none !important;
  }

}

// mobile navbar view
@media (max-width: 991px) {
  .topBar {
    background: @navbar-background;
    height: 60px;
    padding-top: 10px;
  }
  .navbar {
    padding-bottom: 30px;
    position: relative;

    .navbar-nav {
      max-width: 90%;
      margin: 0 auto;
      .dropdown-menu {
        margin: 0 auto;
        max-width: 80%;
        padding: 0 !important;
        display: none;
        position: relative !important;
        box-shadow: none;
        width: auto !important;
        clear: both;
        float: none;
        li {
          padding: 5px;
        }
      }
      position: relative;
      > li {
        overflow: visible;
        float: none !important;
        > a {
          padding: 20px;
        }
        &.open {
          .dropdown-menu {
            display: block;
            max-height: 600px;
            box-shadow: none;
            opacity: 1 !important;
            padding: 20px 0 !important;
          }
        }
      }
    }
  }
  .toggleDropdown {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: -25px;
    cursor: pointer;
  }
}

// desktop navbar view
@media (min-width: 992px) {
  .navbar{
    position: fixed;
    li {
      &:hover {
        overflow: visible;
        .dropdown-menu {
          max-height: 500px;
          opacity: 1;
        }
      }
    }
  }
}

.mobile-sticker{
  position: relative;
  margin: 30px 0;
}

.mobile-sticker__overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 33px;
  .big {
    font-size: 20px;
    font-weight: 900;
  }
  span {
    line-height: 1.2;
  }
}

.mobile-section {
  .mobile-info {
    i {
      color: @accent-color;
      padding-right: 15px;
    }
    padding-top: 20px;
  }
  text-align: center;
  span {
    display: block;
  }
}

.mobile-logo {
  img {
    max-width: 200px;
  }
}

@media (max-width: 767px) {
  .mobile-logo {
    img {
      max-width: 120px;
      padding-bottom: 30px;
    }
  }
  .navbar .navbar-nav > li > a {
    padding: 7px 20px !important;
  }
  .toggleDropdown {
    margin-top: 0;
  }
}