extend ' .ease' has no matches
extend ' .ease' has no matches
extend ' .ease' has no matches
extend ' .ease' has no matches
#wpadminbar {
  top: auto !important;
  bottom: 0;
}
.topBar {
  position: absolute;
  z-index: 1030;
  width: 100%;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  height: 120px;
  padding-top: 20px;
  top: 0;
}
.topBar .topBar__lang select {
  -moz-appearance: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.topBar .topBar__lang i {
  color: #333;
  font-size: 18px;
  padding-right: 6px;
}
.topBar .topBar__social a {
  padding: 0 8px;
  font-size: 18px;
  color: #333;
}
.topBar .topBar__social a:hover {
  opacity: 0.6;
}
.topBar .topBar__icon {
  font-weight: 500;
  font-size: 18px;
  color: #333;
  display: inline-block;
  padding-right: 20px;
  letter-spacing: 0.075em;
}
.topBar .topBar__icon i {
  padding-right: 6px;
  color: #d1a57b;
}
.nav .open > a {
  background: none !important;
}
.navbar {
  padding: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 6px 5px 10px 0 rgba(0, 0, 0, 0.11);
  border: none;
  margin: 0;
  position: absolute;
  top: 60px;
}
.navbar .navbar-toggle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1090;
}
.navbar .navbar-toggle .icon-bar {
  background: #cbcbcb;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar .navbar-nav li {
  overflow: hidden;
  background: none !important;
}
.navbar .navbar-nav li a {
  text-transform: uppercase;
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: 0.075em;
  font-size: 20px;
  font-weight: normal;
  color: #333;
  padding: 20px 70px 20px 0;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:focus {
  background: none !important;
}
.navbar .navbar-nav li a:hover {
  color: #d1a57b;
}
.navbar .navbar-nav li .dropdown-menu {
  z-index: 999;
  position: absolute;
  width: 350px;
  display: block;
  border: none;
  text-align: center;
  max-height: 0;
  left: 0;
  right: auto;
  border-radius: 0;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 6px 5px 10px 0 rgba(0, 0, 0, 0.11);
  padding: 20px 0 20px 0;
}
.navbar .navbar-nav li .dropdown-menu li {
  list-style: none;
  padding: 20px;
}
.navbar .navbar-nav li .dropdown-menu li a,
.navbar .navbar-nav li .dropdown-menu li a:hover,
.navbar .navbar-nav li .dropdown-menu li a:active,
.navbar .navbar-nav li .dropdown-menu li a:visited {
  white-space: unset;
  font-size: 18px;
  padding: 0 !important;
  text-decoration: none;
}
.navbar .navbar-nav li:last-child a {
  padding: 20px 0 20px 0;
}
.toggleDropdown {
  display: none;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .medium-align-right {
    text-align: right !important;
  }
}
@media (max-width: 1199px) {
  .topBar__icon--hide {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .topBar {
    background: rgba(255, 255, 255, 0.9);
    height: 60px;
    padding-top: 10px;
  }
  .navbar {
    padding-bottom: 30px;
    position: relative;
  }
  .navbar .navbar-nav {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
  }
  .navbar .navbar-nav .dropdown-menu {
    margin: 0 auto;
    max-width: 80%;
    padding: 0 !important;
    display: none;
    position: relative !important;
    box-shadow: none;
    width: auto !important;
    clear: both;
    float: none;
  }
  .navbar .navbar-nav .dropdown-menu li {
    padding: 5px;
  }
  .navbar .navbar-nav > li {
    overflow: visible;
    float: none !important;
  }
  .navbar .navbar-nav > li > a {
    padding: 20px;
  }
  .navbar .navbar-nav > li.open .dropdown-menu {
    display: block;
    max-height: 600px;
    box-shadow: none;
    opacity: 1 !important;
    padding: 20px 0 !important;
  }
  .toggleDropdown {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: -25px;
    cursor: pointer;
  }
}
@media (min-width: 992px) {
  .navbar {
    position: fixed;
  }
  .navbar li:hover {
    overflow: visible;
  }
  .navbar li:hover .dropdown-menu {
    max-height: 500px;
    opacity: 1;
  }
}
.mobile-sticker {
  position: relative;
  margin: 30px 0;
}
.mobile-sticker__overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 33px;
}
.mobile-sticker__overlay .big {
  font-size: 20px;
  font-weight: 900;
}
.mobile-sticker__overlay span {
  line-height: 1.2;
}
.mobile-section {
  text-align: center;
}
.mobile-section .mobile-info {
  padding-top: 20px;
}
.mobile-section .mobile-info i {
  color: #d1a57b;
  padding-right: 15px;
}
.mobile-section span {
  display: block;
}
.mobile-logo img {
  max-width: 200px;
}
@media (max-width: 767px) {
  .mobile-logo img {
    max-width: 120px;
    padding-bottom: 30px;
  }
  .navbar .navbar-nav > li > a {
    padding: 7px 20px !important;
  }
  .toggleDropdown {
    margin-top: 0;
  }
}
