@import (reference) "../variables/variables.less";

.page-header {
  margin: 0;
  border: none;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;

  .header-overlay {
    position: absolute;
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    div {
      height: 100% !important;
    }
    .header-overlay__bg {
      background-color: @accent-color;
    }
  }

  &.error-page{
    .error-shadow{
      display: block;
      z-index: -1;
      position: absolute;
      left: 0;
      text-align: center;
      width: 100%;
      top: -50px;
      h1{
        display: block;
        color: @error-page-404;
        font-size: 600px;
      }
    }
    .return-home{
      a{
        color: @headline-color;
        font-size: 36px;
      }
    }
  }
}
