.page-header {
  margin: 0;
  border: none;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}
.page-header .header-overlay {
  position: absolute;
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.page-header .header-overlay div {
  height: 100% !important;
}
.page-header .header-overlay .header-overlay__bg {
  background-color: #d1a57b;
}
.page-header.error-page .error-shadow {
  display: block;
  z-index: -1;
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  top: -50px;
}
.page-header.error-page .error-shadow h1 {
  display: block;
  color: #f7f7f7;
  font-size: 600px;
}
.page-header.error-page .return-home a {
  color: #000000;
  font-size: 36px;
}
