#jpreOverlay,
#qLoverlay {
  background-color: #d1a57b;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
#jpreSlide {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  text-align: center;
  width: 100%;
}
#jpreLoader,
#qLloader {
  width: 448px;
  height: 300px;
  position: fixed;
  top: 30%;
  left: 60%;
  margin-left: 0px;
  margin-top: -400px;
}
#jpreBar,
#qLbar {
  width: 448px;
  height: 300px;
  position: absolute;
  bottom: 0;
  background: url('../../images/logo.png') 100px 100% no-repeat;
}
#jprePercentage,
#qLpercentage {
  color: #fff;
  text-align: center;
  position: absolute;
  height: 30px;
  width: 100px;
  margin-top: 240px;
}
