.margin-left-2 {
  margin-left : 2px;
}

.margin-left-5 {
  margin-left : 5px;
}

.margin-left-10 {
  margin-left : 10px;
}

.margin-left-15 {
  margin-left : 15px;
}

.margin-left-20 {
  margin-left : 20px;
}

.margin-left-25 {
  margin-left : 25px;
}

.margin-left-30 {
  margin-left : 30px;
}

.margin-left-40 {
  margin-left : 40px;
}

.margin-left-50 {
  margin-left : 50px;
}

.margin-left-60 {
  margin-left : 60px;
}

.margin-left-70 {
  margin-left : 70px;
}

.margin-left-80 {
  margin-left : 80px;
}

.margin-left-90 {
  margin-left : 90px;
}

.margin-left-100 {
  margin-left : 100px;
}

.margin-left-120 {
  margin-left : 120px;
}

.margin-left-150 {
  margin-left : 150px;
}

.margin-left-200 {
  margin-left : 200px;
}

.margin-left-250 {
  margin-left : 250px;
}