.padding-right-2 {
  padding-right : 2px;
}

.padding-right-5 {
  padding-right : 5px;
}

.padding-right-10 {
  padding-right : 10px;
}

.padding-right-15 {
  padding-right : 15px;
}

.padding-right-20 {
  padding-right : 20px;
}

.padding-right-25 {
  padding-right : 25px;
}

.padding-right-30 {
  padding-right : 30px;
}

.padding-right-35 {
  padding-right : 35px;
}

.padding-right-40 {
  padding-right : 40px;
}

.padding-right-50 {
  padding-right : 50px;
}

.padding-right-60 {
  padding-right : 60px;
}

.padding-right-70 {
  padding-right : 70px;
}

.padding-right-80 {
  padding-right : 80px;
}

.padding-right-90 {
  padding-right : 90px;
}

.padding-right-100 {
  padding-right : 100px;
}

.padding-right-120 {
  padding-right : 120px;
}

.padding-right-150 {
  padding-right : 150px;
}

.padding-right-200 {
  padding-right : 200px;
}

.padding-right-250 {
  padding-right : 250px;
}