.padding-bottom-0{
  padding-bottom: 0;
}

.padding-bottom-2 {
  padding-bottom : 2px;
}

.padding-bottom-5 {
  padding-bottom : 5px;
}

.padding-bottom-10 {
  padding-bottom : 10px;
}

.padding-bottom-15 {
  padding-bottom : 15px;
}

.padding-bottom-20 {
  padding-bottom : 20px;
}

.padding-bottom-25 {
  padding-bottom : 25px;
}

.padding-bottom-30 {
  padding-bottom : 30px;
}

.padding-bottom-40 {
  padding-bottom : 40px;
}

.padding-bottom-50 {
  padding-bottom : 50px;
}

.padding-bottom-60 {
  padding-bottom : 60px;
}

.padding-bottom-70 {
  padding-bottom : 70px;
}

.padding-bottom-80 {
  padding-bottom : 80px;
}

.padding-bottom-90 {
  padding-bottom : 90px;
}

.padding-bottom-100 {
  padding-bottom : 100px;
}

.padding-bottom-120 {
  padding-bottom : 120px;
}

.padding-bottom-150 {
  padding-bottom : 150px;
}

.padding-bottom-200 {
  padding-bottom : 200px;
}

.padding-bottom-250 {
  padding-bottom : 250px;
}